<a href="http://127.0.0.1:5000">Главная</a>
    <!-- Ссылка на страницу добавления фильма -->
    <a href="http://127.0.0.1:5000/film_form">Добавить фильм</a>
    <!-- Ссылка на страницу со списком фильмов -->
    <a href="http://127.0.0.1:5000/films">Фильмы</a>
    <!-- Ссылка на страницу конкретного фильма, в данном случае фильм с id 3 -->
    <a href="http://127.0.0.1:5000/film/3">Фильм 3 (служебная)</a>
<!-- Форма для добавления фильма -->
<form method="POST">
    <!-- Поле ввода названия фильма -->
    <p>{{ form.name.label }} {{ form.name() }}</p>
    <!-- Поле ввода года выпуска фильма -->
    <p>{{ form.year.label }} {{ form.year() }}</p>
    <!-- Поле ввода рейтинга фильма -->
    <p>{{ form.rating.label }} {{ form.rating() }}</p>
    <!-- Поле выбора жанра фильма -->
    <p>{{ form.genre.label }} {{ form.genre() }}</p>
    <!-- Кнопка отправки формы -->
    <input type="submit" value="Добавить">
</form>
