<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class="header" id="fd">Заголовок 1 раздела</h1>
        <h2>Подзаголовок</h2>
        <p class="products">Абзац текста о продуктах 1</p>
        <p class="products">Абзац текста о продуктах 2</p>
        <p class="facts">Абзац текста с интересными фактами 1</p>
        <p class="facts">Абзац текста с интересными фактами 2</p>
        <p class="facts" >Абзац текста с интересными фактами 3</p>
        <h1 class="header" id="fd2">Заголовок 2 раздела</h1>
    </body>
</html>